body{
    margin: 0;
    padding: 0;
    background-color: rgb(237, 230, 230);
    
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    background-color: rgb(121, 37, 61);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -10;
    position: sticky;
    top: 0;

}
.logo a{
    font-size: 25px;
    font-weight: 1000;
    color: rgb(249, 245, 245);
    letter-spacing: 10px;
    font-family:'Times New Roman', Times, serif;
}

li{
        list-style: none;
        display: inline-block;
    }
li a{
        color:rgb(254, 249, 249);
        font-size: 18px;
        margin-right: 50px;
    }

button{
    border: 0cap;
    background-color: transparent;
    margin-left: 10px;
    padding: 10px;
    width: 60px;
    }

button a{
    color: rgb(245, 242, 242);
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}
.nav1:hover{
    color:rgb(14, 13, 13);
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.about{
    padding: 60px;
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color:  rgb(121, 37, 61);
}

.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 1px solid rgb(131, 123, 123);
    justify-content: space-around;
}
.grid{
    border: 1px solid rgb(241, 231, 231);
}
.firstline{
    text-align: center;
    margin: 20px;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.secline{
    text-align:center;
    margin: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.thirdline{
    margin: 20px;
    margin-top: 20px;
    font-size: 20px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}
.fourline{
    margin: 20px;
    margin-top: 20px;
    font-size: 20px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}
.fiveline{
    margin: 20px;
    margin-top: 20px;
    font-size: 20px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}

.foot{
    height: 500px;
    margin-top: 100px;
    border: 1px solid rgb(251, 247, 247);
    background-color: rgb(221, 207, 196);
}
.container{
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: none;
}
.box{
    border: 1px solid rgb(249, 243, 243);
    margin-top: 50px;
    height: 250px;
}
.c{
    border: 1px solid transparent;
    display: inline-block;
    font-size: 70px;
    width: 110px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(121, 37, 61);
}
.mar{
    margin: 100px;
}
.let{
    margin-left: 20px;
    margin-top: 10px;
    color: rgb(121, 37, 61);
}
.box2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: center;
}
.qui{
    color: rgb(121, 37, 61);
    margin: 20px;
    font-size: 30px;
}
.box2 a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: lighter;
}
.box3{
     font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: center;
}
.pol{
    color: rgb(121, 37, 61);
    margin: 20px;
    font-size: 30px;
}
.box3 a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: lighter;
}
.box4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: center;
}
.add{
    color: rgb(121, 37, 61);
    margin: 20px;
    font-size: 30px;
}
.list2{
      display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: lighter;
}
